<h1>{{getTitle()}}</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="alert alert-warning" role="warning">
  <p>Form Status: {{ orderForm.status }}</p>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="orderForm">
  <div class="form-group">
    <label for="addressId">Address</label>
    <select class="custom-select" formControlName="addressId" id="addressId">
      <option value="" disabled>Choose the address</option>
      <option *ngFor="let address of addresses" [ngValue]="address.id">{{address.street}}, {{address.city}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="statusId">Status</label>
    <select class="custom-select" formControlName="statusId" id="statusId">
      <option *ngFor="let status of statuses; let i = index" [ngValue]="status.id">{{status.name}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!orderForm.valid || isSubmitted">
    Add new order
  </button>
  <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!orderForm.valid || isSubmitted">Save
  </button>
</form>

