<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
    {{errorMessage}}
  </div>
  <div class="alert alert-warning" role="warning">
    <p>Form Status: {{ statusForm.status }}</p>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="statusForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" minlength="2">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!statusForm.valid || isSubmitted">Add</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!statusForm.valid || isSubmitted">Save</button>
  </form>
