<h1>Welkom bij Gheys!</h1>
<h2>Uw logistieke dienstverlener op maat</h2>
<p>Op deze web app kun je makkelijk producten bestellen en laten aanleveren. Geplaatste orders worden bekeken door het magazijnpersoneel en verwerkt. Wanneer alles in orde is voor verzending 
    kunt u dit zien in het overzicht als 'processed'. De goederen zullen daarna afhankelijk van de afstand binnen 1-2 werkdagen geleverd worden. 
</p>
<p>Om gebruik te maken van onze diensten dient u zich eerst te registreren. Eens de registratie is voltooid, kan u goederen laten aanleveren. 
</p>
