<h1>Welkom bij Gheys!</h1>
<h2>Uw logistieke dienstverlener op maat</h2>
<p>Op deze web app kun je makkelijk een voorraad van producten bijhouden. De mogelijkheid bestaat om producten aan te leveren, te stockeren, en te verschepen.
    Geplaatste orders worden bekeken door het magazijnpersoneel en klaargezet op het moment dat door u is aangeduid. De voorraad wordt automatisch afgeboekt wanneer
    de zending is bevestigd door ons magazijnpersoneel.
</p>
<p>Om gebruik te maken van onze diensten dient u zich eerst te registreren. Eens de registratie is voltooid, kan u goederen aanleveren en stockeren. 
    Op het moment dat u de goederen nodig heeft kan u een order plaatsen om te laden. Verscheping zal de dag erna gebeuren. Het transport dient u zelf in te plannen.
</p>
<p>-- Screenshots van de applicatie met voorbeeld van andere klanten --</p>
